node_modules/
dist/
*.log
.env
*.tsbuildinfo
coverage/
.DS_Store

# Session data
sessions/
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo


# Other
n8n-workflow/*
docker-image/*
docker-app/*
.kiro/*